
# Isso aqui foi criado para simplificação, e não expor senha do Postgres, que não deve ir para o repositório.

development:
  username: postgres
  password: "coloque_a_senha"
  host: 127.0.0.1
  port: 5432

test:
  username: postgres
  password: "coloque_a_senha"
  host: 127.0.0.1
  port: 5432
